includes:
	- vendor/ctw/ctw-qa/config/phpstan/common.neon
	- phpstan-baseline.neon
parameters:
    paths:
        - bin
        - src
        - bootstrap.php
        - consts.php
        - ecs.php
        - rector.php
    ignoreErrors:
